@use '../../abstract' as var;

.popup-footer__list {
  @extend %list-reset;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.popup-footer__list--center {
  justify-content: center;
}
