@use "../abstract" as var;

.subscription-form-field {
  position: relative;
}

.subscription-form-field__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.subscription-form-field__input {
  width: 100%;
  padding: 15px 15px 15px 2px;

  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-size: 12px;
  color: var.$brand-black;

  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var.$brand-cadet-blue;

  &:focus {
    outline: none;

    border-bottom: 1px solid var.$brand-slate-gray;
  }
}

.subscription-form-field__btn {
  position: absolute;
  right: 0;
  top: 35px;

  padding: 0;

  color: #9fa6c0;

  border: none;
  z-index: 1;
}
