@use "../abstract" as var;

.features-screen__list {
  @extend %list-reset;
}

.features-screen__item {
  margin-bottom: 20px;
}

@include var.tablet-size {

  .features-screen__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .features-screen__item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 40px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include var.desktop-size {

  .features-screen__item {
    width: calc((100% - 20px * 2) / 3);
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
