@use "../abstract" as var;

.section__title {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;

  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.section__container {
  padding-top: 40px;
  padding-bottom: 20px;
}

@include var.tablet-size {

  .section__title {
    margin-bottom: 70px;
  }
}

@include var.desktop-size {

  .section__container {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .section__title {
    font-size: 40px;
  }
}
