$brand-white: #ffffff;
$brand-black: #000000;
$brand-wild-sand: #f5f5f5;
$brand-blue-light: #f2f7f6;
$brand-silver: #bdbdbd;
$brand-cadet-blue: #9fa6c0;
$brand-dusty-gray: #9c9c9c;
$brand-slate-gray: #717996;
$brand-nevada: #63676b;
$brand-emperor: #545454;
$brand-dark-blue: #002ed4;
$brand-mine-shaft: #212121;
$brand-midnight-blue: #001663;
$brand-cod-gray: #141414;
$brand-cod-gray-secondary: #121212;
$brand-malachite: #00d64b;

// Screen Size
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Z-index
$mobile-nav: 999;
$index-section-header: 1;
